[submodule "home/.zprezto"]
	path = home/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "home/.zsh/zsh-autosuggestions"]
	path = home/.zsh/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
  ignore = dirty
[submodule "home/.zsh/zsh-syntax-highlighting"]
	path = home/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
  ignore = dirty
[submodule "home/home/.zsh/zsh-syntax-highlighting"]
	path = home/home/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
