[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[user]
  name = joeytall
  email = joeytall.liu@gmail.com
[credential]
  # helper = osxkeychain
[init]
  templatedir = ~/.git-template
[core]
  editor = /usr/local/bin/nvim
  excludesfile = ~/.gitignore_global
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  ri = rebase --interactive --autosquash
[branch]
  autosetuprebase = always

[rebase]
	autosquash = true
[github]
	user = joeytall
	token = f1a921e8da52a1001a5b7d9403a099f08a25624a
